

.delivered-btn {
    background: #81c3c9;
    color:#1B4A56;
    transition: 0.3s ease;
    font-weight: bold;
    border: none;
}

.delivered-btn:hover {
    background: #1B4A56;
    color:#fff;
}

.restock-form input[type=number] {
    width: 70%;
}

.restock-form input[type=submit] {
    width: 30%;
    color:#1B4A56;
    background: #81c3c9;
    transition: 0.3s ease;
    border: 2px solid #81c3c9;
    font-weight: bold;
}

.restock-form input[type=submit]:hover {
    background: #1B4A56;
    color: #fff;
    border: 2px solid #1B4A56;
}